
include CONTRIBUTING.rst
include LICENSE
include README.rst

recursive-include surveymonkey/collectors *
recursive-include surveymonkey/responses *
recursive-include surveymonkey/webhooks *
recursive-include surveymonkey/messages *
recursive-include surveymonkey/tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
